<span class="icon-swap">
  {%- comment -%} Outline bag (normal state) {%- endcomment -%}
  <svg class="icon-outline" width="29" height="38" viewBox="0 0 28 37" fill="none"><path stroke="currentColor" stroke-width="2" d="M1.595 9.246h24.541v26.483H1.595z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M20.753 8.325c-.949-3.247-3.756-5.485-6.887-5.485-3.132 0-5.939 2.238-6.888 5.485H4.914C5.92 4.025 9.546.84 13.866.84s7.945 3.184 8.951 7.485z" fill="currentColor"/></svg>
  {%- comment -%} Filled bag (hover state) {%- endcomment -%}
  <svg class="icon-filled" width="29" height="38" viewBox="0 0 28 37" fill="none"><path stroke="currentColor" stroke-width="2" fill="currentColor" d="M1.595 9.246h24.541v26.483H1.595z"/><path fill-rule="evenodd" clip-rule="evenodd" d="M20.753 8.325c-.949-3.247-3.756-5.485-6.887-5.485-3.132 0-5.939 2.238-6.888 5.485H4.914C5.92 4.025 9.546.84 13.866.84s7.945 3.184 8.951 7.485z" fill="currentColor"/></svg>
</span>
{%- if cart.item_count > 0 -%}
  <span class="cart-count-text" data-cart-count>{{ cart.item_count }}</span>
{%- endif -%}
<span class="visually-hidden">{{ 'templates.cart.cart' | t }}</span>
{%- if cart != empty -%}
  <span class="visually-hidden">{{ 'sections.header.cart_count' | t: count: cart.item_count }}</span>
{%- endif -%}
